<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forecaster.name %>
</p>

<p>
  <b>Mobile:</b>
  <%= @forecaster.mobile %>
</p>

<p>
  <b>QQ:</b>
  <%= @forecaster.qq %>
</p>

<%= link_to '回到首页', "/" %>
