<% provide(:title, @topic.title) %>
<div class="container container-main">

<div class="col-md-12 col-md-re hidden-xs">
  <div>
    <a href="/"><span>首页&nbsp;</span></a><i>&gt;&nbsp;</i>
    <!-- <a href="#"><%=@topic.category_id %></a> <i>&gt;&nbsp;</i> -->
    <%=@topic.title %>
  </div>
</div>
<div class="col-md-12 col-md-re replybtntop mb15 clearfix">
  <!-- 分页与发贴回复按钮组 开始 -->
  <!-- 分页 开始 -->
  <div class="col-md-10 col-sm-8 col-xs-8 padnone">
    <div class="pagebox hidden-xs"></div>
  </div>
  <!-- 分页 结束 -->
  <!-- 回复与发贴按钮组 开始 -->
  <div class="fr btn-group">
      <a href="javascript:void(0);" rel="nofollow" onclick="javascript:replay('楼主','环球电子', '80128', 1)" data-remote="true" data-type="script" class="visible-md visible-lg btn btn-success btn-replys">回复</a>
      <a data-type="script" data-remote="true" class="btn btn-success clearfix" href="javascript:void(0);">发帖</a>
    </div>
  </div>
  <!-- 回复与发贴按钮组 结束 -->
</div>
<!-- 分页与发贴回复按钮组 结束 -->
<!-- 主贴的详情展示 开始 -->
  <div class="col-md-12 pad10 col-md-re" desc="topic">
  <div class="clearfix marginbtm40">
    <div class="col-md-2 col-sm-2 hidden-xs">
      <div class="mb10">
        <a href="/users/<%=@topic.user.id %>" target="_blank"><%=@topic.user.name %></a>
          <span class="glyphicon glyphicon-certificate" title="当前离线"></span>
      </div>
      <div class="member-avatar mb10">
        <div id="user_info" topic_id="<%=@topic.id %>">
          <a href="/users/<%=@topic.user.id %>"><img id="user_image_80128" class="avatar" src="/images/user/medium/0.gif" alt="<%=@topic.user.name %>"></a>

        </div>
      </div>
      <!-- <p class="fans-space">积分：<strong>9</strong></p>
      <p class="fans-space">金币：<strong>14</strong></p> -->
    </div>
    <!-- 左侧的用户信息显示 结束 -->
    <!-- 右侧的主贴详细信息显示 开始 -->
    <div class="col-md-10 col-sm-10 col-xs-12 panel-content-redos">
    <!-- 主贴标题 手机上显示h4的标题 其它显示h2 -->
    <i class="roadtips hidden-xs"></i>
    <div class="text-center">
      <h4 style="text-align:left;bolder;"><%=@topic.title %></h4>
    </div>
    <!--
      发贴人信息 手机上显示发贴人的头像、昵称及发帖时间
      电脑上显示 阅读回复数 以及 只看TA
    -->
    <div class="mb20 clearfix">
      <div class="col-xs-10 col-sm-10 hidden-lg hidden-md hidden-sm padnone clearfix">
        <div class="fl member-avatar padnone "><a href="/users/<%=@topic.user.id %>"><img id="user_image_80128" class="avatar" src="/images/user/small/0.gif" alt="/users/<%=@topic.user.name %>"></a></div>
        <div class="fl ml20">
          <div class="mb5"><a href="/users/<%=@topic.user.id %>" target="_blank"><%=@topic.user.name %></a>
              <span class="glyphicon glyphicon-certificate" title="当前离线"></span>
          </div>
          <div><%=@topic.created_at.strftime("%F") %></div>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 text-right hidden-lg hidden-md hidden-sm padnone clearfix">
        <span class="floorsm">1F</span>
      </div>
      <div class="col-md-10 col-sm-10 padnone hidden-xs hidden-sm mb15">
        <span class="mr10">发表于<%=@topic.created_at.strftime("%F") %></span>
        <span class="mr10"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;<%=@topic.views %></span>
        <span class="mr10"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;<%=@topic.reply_count %></span>
      </div>
    </div>
    <!-- 主贴内容 -->
    <div class="col-*-12 main-contents clearfix">
      <textarea style="width: 100%; overflow-y:visible" readonly><%=@topic.content.html_safe %></textarea>
    </div>
    
    <!-- 用户革新签名 -->
    <!-- 百度分享以及回复与举报 -->
    <div class="col-*-12 padnone clearfix mt20 border-toppad border-toppad-re">
      <div class="col-md-10 col-sm-10 col-xs-10 padnone">
        <!-- Baidu Button BEGIN-->
        <div id="bdshare" class="fl mt5 hidden-xs bdshare_t bds_tools get-codes-bdshare">
          <span class="bds_more">分享到：</span>
          <a href="#" title="分享到新浪微博" class="bds_tsina"></a>
          <a href="#" title="分享到QQ空间" class="bds_qzone"></a>
          <a href="#" title="分享到腾讯微博" class="bds_tqq"></a>
          <a href="#" title="分享到人人网" class="bds_renren"></a>
          <a title="累计分享0次" href="#" class="shareCount">0</a>
        </div>
        <script src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=385142" type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2743551"></script>
        
        <script type="text/javascript">
          document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion="+Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 text-right padnone">
            <a href="javascript:void(0);" rel="nofollow" onclick="javascript:reply('楼主','环球电子', '80128', 1)" data-remote="true" data-type="script" class="visible-md visible-lg">回复</a>
            <a class="visible-xs" desc="reply_topic" href="javascript:void(0);" rel="nofollow" floor="楼主" nick="环球电子" u_id="80128" f_type="1">回复</a>
            <a class="visible-sm" desc="reply_topic_pad" href="javascript:void(0);" rel="nofollow" floor="楼主" nick="环球电子" u_id="80128" f_type="1">回复</a>
      </div>
    </div>
    </div>
    <!-- 右侧的主贴详细信息显示 结束 -->
  </div>
  </div>
<!-- 主贴的详情展示 结束 -->
<!-- 回复的详情展示 开始 -->
<% if @topic.replies 
     i = 1
     @topic.replies.each do |reply| %>
<div class="col-md-12 pad10 col-md-re clearfix" desc="replies" id="show_replies">
  <div class="clearfix" created_at="<%=reply.created_at %>" name="more_replies" topic_id="<%=reply.topic.id %>">
  <!-- 左侧的用户信息显示 开始 -->
  <div class="col-md-2 col-sm-2 hidden-xs">
    <div><a name="d08kkrykorkiiw"></a></div>
    <div class="mb10">
      <a href="/users/"+"<%=reply.user.id %>" target="_blank"><%=reply.user.name %></a>
        <span class="glyphicon glyphicon-certificate" title="当前离线"></span>
    </div>
    <div class="">
      <div class="clearfix">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="clearfix"></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="mb10 member-avatar">
        <div reply_id="<%=reply.id %>">
          <a href="/users/<%=reply.user.id %>">
            <img id="user_image_51133" class="avatar" src="/images/user/medium/0.gif" alt="<%=reply.user.name %>"></a>
        </div>
      </div>
      <!-- <p class="fans-space">积分：<strong>71</strong></p>
      <p class="fans-space">金币：<strong>40870</strong></p> -->
    </div>
  </div>
  <!-- 左侧的用户信息显示 结束 -->
  <div class="col-md-10 col-sm-10 col-xs-12 panel-content-redo marginbtm40 posr">
    <i class="roadtips hidden-xs"></i>
    <div class="clearfix">
      <div class="col-xs-10 padnone hidden-lg hidden-md hidden-sm">
        <div class="fl member-avatar"><a href="/users/<%=reply.user.id %>">
          <img id="user_image_51133" class="avatar" src="/images/user/small/0.gif" alt="<%=reply.user.name %>"></a></div>
        <div class="fl ml20">
          <div class="mb5"><a href="/users/<%=reply.user.id %>" target="_blank"><%=reply.user.name %></a>
              <span class="glyphicon glyphicon-certificate" title="当前离线"></span>
          </div>
          <div><%=reply.created_at.strftime("%F") %></div>
        </div>

      </div>
      <div class="col-xs-2 padnone hidden-lg hidden-md hidden-sm">
        <div class="floorsm text-right"><%=i+1 %>F</div>
      </div>
      <div class="col-md-10 col-sm-10 padnone hidden-xs">
        <span>发表于&nbsp;<%=reply.created_at.strftime("%F") %></span>
      </div>
      <div class="col-md-2 col-sm-2 padnone posr hidden-xs clearfix">
        <span class="floornum"><%=i+1 %>F</span>
      </div>
    </div>
    <div class="col-*-12 flootourer min-height2" id="reply_<%=reply.id%>">
      <textarea rows="8" style="width: 100%;border:0" readonly><%=reply.content.html_safe %></textarea>
    </div>
    <div class="col-*-12 padnone clearfix mt10 border-toppad">
      <div class="col-md-10 col-sm-10 col-xs-10 padnone"></div>
      <div class="col-md-2 col-sm-2 col-xs-2 text-right padnone">
            <a class="visible-md visible-lg" href="javascript:void(0);" rel="nofollow" onclick="javascript:void replay('2楼','<%=reply.user.name %>', '<%=reply.user.id %>', 1)">回复</a>
            <a class="visible-xs" href="javascript:void(0);" desc="reply_others" rel="nofollow" floor="2楼" nick="<%=reply.user.name %>" u_id="<%=reply.user.id %>" f_type="1">回复</a>
            <a class="visible-sm" href="javascript:void(0);" desc="reply_others_pad" rel="nofollow" floor="2楼" nick="<%=reply.user.name %>" u_id="<%=reply.user.id %>" f_type="1">回复</a>
      </div>
    </div>
    <div class="col-*-12 padnone text-right hidden-xs">
    </div>
  </div>
  </div>
</div>
<% 
    i=i+1  
    end 
  end   %>
<!-- 回复的详情展示 结束 -->
<!-- 分页与发贴回复按钮组 开始 -->
<div class="col-md-12 marb20 willpaginates clearfix" desc="willpaginate">
  <!-- 分页与发贴回复按钮组 开始 -->
  <!-- 分页 开始 -->
  <div class="col-md-10 col-sm-8 col-xs-8 padnone">
    <div class="pagebox hidden-xs"></div>
  </div>
  <!-- 分页 结束 -->
  <!-- 回复与发贴按钮组 开始 -->
  <div class="fr btn-group hidden-xs">
      <a href="javascript:void(0);" rel="nofollow" onclick="javascript:replay('楼主','环球电子', '80128', 1)" data-remote="true" data-type="script" class="visible-md visible-lg btn btn-success btn-replys">回复</a>
      <a class="visible-xs btn btn-success btn-replys" desc="reply_topic" href="javascript:void(0);" rel="nofollow" floor="楼主" nick="环球电子" u_id="80128" f_type="1">回复</a>
      <a class="visible-sm btn btn-success btn-replys" desc="reply_topic_pad" href="javascript:void(0);" rel="nofollow" floor="楼主" nick="环球电子" u_id="80128" f_type="1">回复</a>
    <div class="newtopiclink mt0 hidden-xs">
      <a data-type="script" data-remote="true" class="btn btn-success clearfix" href="javascript:void(0);">发帖</a>
    </div>
  </div>
  <!-- 回复与发贴按钮组 结束 -->
</div>
<!-- 分页与发贴回复按钮组 结束 -->
  <div class="col-md-12 pad10 mb20"><button class="visible-xs moreormore" id="more_replies">查看更多</button></div>

  <div class="col-md-12 hidden-xs" desc="">
    <div class="quickReply"><a name="add"></a>
      <div class="panel panel-success panel-reply-redo marginbtm30">
        <div class="panel-heading">
          <h3 class="caption-panel-title">回复该帖</h3>
            <span>（<span class="required">*</span>为必填项）</span>
        </div>

        <!-- <form class="form-horizontal" role="form" id="post_form" method="post" action="/replies/create" accept-charset="UTF-8"> -->
        <%= form_for @reply,:html => {:role => 'form', :class=>'form-horizontal'} do |f| %>
          <input id="reply_topic_id" type="hidden" value="<%=@topic.id %>" name="reply[topic_id]"></input>
          <input id="topic_user_id" type="hidden" value="66759" name="topic_user_id"></input>
          <div class="form-group">
            <label for="reply_content" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
              <textarea id="reply_content" class="form-control" rows="8" name="reply[content]"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">发表回复</button>
            </div>
          </div>
          <% end -%>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
<!--返回顶部-->
  <div class="hidden-xs">
    <div style="display: none; top: 538px; left: 1163px;" class="goTop"><a href="javascript:;" rel="nofollow"></a></div>
  </div>
</div>