<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>用户名</th>
      <th>Email</th>
      <th>手机号码</th>
      <th>管理员</th>
      <th>IP地址</th>
      <th>创建时间</th>
      <th>预测师</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
        <td><%= (user.admin and user.admin==1)? '是' : '否' %></td>
        <td><%= user.ip %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= forecaster_stat(user.is_forecaster) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% if user.is_forecaster==0 %>            
          <a href="/users/audit/<%=user.id %>">审核通过</a>
          <% elsif user.is_forecaster==1 %>
          已经通过
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path, :class => 'btn btn-primary' %>

