<p id="notice"><%= notice %></p>

<p>
  <b>用户名:</b>
  <%= @user.name %>
</p>

<p>
  <b>密码:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>手机号码:</b>
  <%= @user.mobile %>
</p>

<p>
  <b>管理员:</b>
  <%= @user.admin==1?'是':'否' %>
</p>

<p>
  <b>预测师:</b>
  <%= @user.is_forecaster==1?'是':'否' %>
</p>

<p>
  <b>Ip:</b>
  <%= @user.ip %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
